// COLORS
$bg-color: #102250;
$text-color: #222;
$white: #FFF;
$disabled-color: #A2A2A2;
$placeholder-color: $disabled-color;

$default-color: #0094FF;
$danger-color: #E82828;
$success-color: #1ab927;
$shadow-color: #00000026;

$input-bg: #F5F8FA;
$selected-color: $input-bg;

// SIZES
$input-height: 50px;
$input-mb: 20px;

$switches-height: 14px;

$select-option-height: 36px;

// OTHER

$content-shadow: 0px 3px 8px $shadow-color;